# Base URL of the Go license API.
# Leave EMPTY in local dev — vite.config.ts proxies /v1 to http://127.0.0.1:8080,
# so requests are same-origin and need no CORS.
# In production set this to the API origin, e.g. https://license.arib.app
VITE_API_BASE_URL=
